/vendor
nohup.out
/composer.lock
/composer.phar
/experiment
/nbproject
/config/local.php
/log
/ENV
/migration/CASSANDRA_PASSWORD
/build/coverage
/build/logs
/build/api
/build/code-browser
/build/pdepend
/build
/phpdoc*
/.idea
/STAYZEN_PATH
/gen
.DS_Store
CASSA_PWD